<%= turbo_frame_tag task do %>
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <%= button_to task_path(task),
                      class: "button is-white",
                      method: :patch do %>
          <span class="icon-text">
            <span class="icon is-large has-text-grey">
              <%= task_checkbox(task.complete?) %>
            </span>
            <span class="title"><%= task_text(task) %></span>
          </span>
        <% end %>
      </div>
      <div class="level-item">
        <%= button_to task_path(task),
                      method: :delete,
                      class: "button is-danger has-text-weight-bold is-small is-rounded" do %>
            <span class="icon-text">
              <span class="icon">
                <i class="material-icons">delete</i>
              </span>
              <span>Delete</span>
            </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
